### TITANIC SURVIVAL PREDICTION Database Project.

##### This project aim to develop a comprehensive database integrated with a predictive model that accurately determines likelyhood of a passenger's survival on the titianic using historic data, the model will leverage various passenger to make prediction and offer insight into the factor that most significantly influence survial rate during the disaster

Dataset used in the project can be download here:https://https://www.kaggle.com/datasets/brendan45774/test-file

 #### Dataset Key Information :
- PassengerId : Assigned ID to each passenger
- Survived :    Passengers who survived the crash
- Pclass : Class of ticket purchased by passenger
- Pclass : Name of individual passenger
- Sex : Gender of individual passenger
- Age : Age of Individual passenger
- SibSp :  Passenger number of Sibling and spouses onboard
- parch : Passenger number of parent & children onboard
- Ticket : Ticket Number
- Fare : Ticket price paid
- Cabin : Allocated number to private individual
- Embarked : Refers to where client boarded the ship

In [107]:
####  Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
import joblib

In [108]:
# Read the Excel file
df = pd.read_csv(r"C:\Users\hp\Desktop\GOMYCODE\GOMYCODE\Titanic Dataset\tested.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [109]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [110]:
# Make a copy of the original dataframe
df1 = df.copy()

### Data Exploration

In [111]:
df1.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

In [112]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [113]:
df1.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
413    False
414    False
415    False
416    False
417    False
Length: 418, dtype: bool

In [114]:
# checking the value distribution for columns with object data types
object_columns = df1.select_dtypes(include=['object']).columns

# Check value distribution for each object column
for column in object_columns:
    print(f"Value counts for {column}:")
    print(df1[column].value_counts())
    print("\n")

Value counts for Name:
Name
Kelly, Mr. James               1
Carr, Miss. Jeannie            1
Dennis, Mr. William            1
Rosblom, Miss. Salli Helena    1
Touma, Miss. Maria Youssef     1
                              ..
Zakarian, Mr. Mapriededer      1
Carlsson, Mr. Carl Robert      1
Dintcheff, Mr. Valtcho         1
Thomas, Mr. Charles P          1
Peter, Master. Michael J       1
Name: count, Length: 418, dtype: int64


Value counts for Sex:
Sex
male      266
female    152
Name: count, dtype: int64


Value counts for Ticket:
Ticket
PC 17608    5
CA. 2343    4
113503      4
PC 17483    3
220845      3
           ..
349226      1
2621        1
4133        1
113780      1
2668        1
Name: count, Length: 363, dtype: int64


Value counts for Cabin:
Cabin
B57 B59 B63 B66    3
B45                2
C89                2
C55 C57            2
A34                2
                  ..
E52                1
D30                1
E31                1
C62 C64            1
C105               1
Name: count, Length: 76, dtype: int64


Value counts for Embarked:
Embarked
S    270
C    102
Q     46
Name: count, dtype: int64

In [115]:
# Checking for null values
df1.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

#### Data Preprocessing

In [116]:
# Handle missing values (fill missing Age with median)
df1['Age'] = df1['Age'].fillna(df1['Age'].median())

In [117]:
# Drop columns that aren't relevant for modeling
df1.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [118]:
# Convert 'Sex' to numeric
df1['Sex'] = df1['Sex'].map({'male': 0, 'female': 1})

In [119]:
# Fill missing Embarked values with the most frequent value
df1['Embarked'] = df1['Embarked'].fillna(df1['Embarked'].mode()[0])

In [120]:
# Convert 'Embarked' to numeric
df1['Embarked'] = df1['Embarked'].map({'C': 0, 'Q': 1, 'S': 2})

In [121]:
# Convert 'Survived' to categorical (if necessary)
df1['Survived'] = df1['Survived'].astype(int)

In [129]:
# Checking for null values
df1.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           1
Embarked       0
dtype: int64

In [130]:
# Fill missing Age values with the median
df1['Fare'].fillna(df1['Fare'].median(), inplace=True)

#### Spliting the Data

In [132]:
from sklearn.model_selection import train_test_split

# Select features (X) and target (y)
X = df1.drop('Survived', axis=1)
y = df1['Survived']

In [133]:
# Split the data into train and test sets (80/20)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#### Train a Random Forest Classifier

In [134]:
# Initialize the Random Forest model
model = RandomForestClassifier(n_estimators=100, random_state=42)

In [135]:
# Train the model
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [136]:
# Make predictions on the test set
y_pred = model.predict(X_test)

In [137]:
# Evaluate the model
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 1.0
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        34

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

In [138]:
from sklearn.model_selection import cross_val_score

# Perform 5-fold cross-validation
cv_scores = cross_val_score(model, X, y, cv=5)

# Print cross-validation scores
print("Cross-validation scores:", cv_scores)
print("Mean cross-validation score:", cv_scores.mean())

Cross-validation scores: [1. 1. 1. 1. 1.]
Mean cross-validation score: 1.0

In [140]:
from sklearn.model_selection import GridSearchCV

# Define parameter grid
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10]
}

# Initialize GridSearchCV
grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=5, n_jobs=-1, verbose=2)

# Fit the model with the best parameters
grid_search.fit(X_train, y_train)

# Print the best parameters and score
print("Best Parameters:", grid_search.best_params_)
print("Best Cross-Validation Score:", grid_search.best_score_)

# Use the best estimator for predictions
best_model = grid_search.best_estimator_

# Make predictions on the test set with the best model
y_pred_best = best_model.predict(X_test)

# Evaluate the best model
print("Accuracy of Best Model:", accuracy_score(y_test, y_pred_best))
print("Classification Report of Best Model:\n", classification_report(y_test, y_pred_best))

Fitting 5 folds for each of 36 candidates, totalling 180 fits
Best Parameters: {'max_depth': None, 'min_samples_split': 2, 'n_estimators': 50}
Best Cross-Validation Score: 1.0
Accuracy of Best Model: 1.0
Classification Report of Best Model:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        34

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

In [141]:
# Check the distribution of classes in the training and test sets
print("Training set class distribution:\n", y_train.value_counts())
print("Test set class distribution:\n", y_test.value_counts())

Training set class distribution:
 Survived
0    216
1    118
Name: count, dtype: int64
Test set class distribution:
 Survived
0    50
1    34
Name: count, dtype: int64

In [142]:
# Split the data into train and test sets with a larger test size (70/30 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Train and evaluate the model again
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 1.0
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        85
           1       1.00      1.00      1.00        41

    accuracy                           1.00       126
   macro avg       1.00      1.00      1.00       126
weighted avg       1.00      1.00      1.00       126

In [143]:
# Review the features to ensure they are meaningful and do not cause data leakage
print("Features used for modeling:\n", X.columns)

Features used for modeling:
 Index(['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [144]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

# Initialize different models
log_reg = LogisticRegression(max_iter=1000, random_state=42)
svc = SVC(random_state=42)
knn = KNeighborsClassifier()

# Train and evaluate Logistic Regression
log_reg.fit(X_train, y_train)
y_pred_log_reg = log_reg.predict(X_test)
print("Logistic Regression Accuracy:", accuracy_score(y_test, y_pred_log_reg))
print("Logistic Regression Classification Report:\n", classification_report(y_test, y_pred_log_reg))

# Train and evaluate SVM
svc.fit(X_train, y_train)
y_pred_svc = svc.predict(X_test)
print("SVM Accuracy:", accuracy_score(y_test, y_pred_svc))
print("SVM Classification Report:\n", classification_report(y_test, y_pred_svc))

# Train and evaluate K-Nearest Neighbors
knn.fit(X_train, y_train)
y_pred_knn = knn.predict(X_test)
print("K-Nearest Neighbors Accuracy:", accuracy_score(y_test, y_pred_knn))
print("K-Nearest Neighbors Classification Report:\n", classification_report(y_test, y_pred_knn))

Logistic Regression Accuracy: 1.0
Logistic Regression Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        85
           1       1.00      1.00      1.00        41

    accuracy                           1.00       126
   macro avg       1.00      1.00      1.00       126
weighted avg       1.00      1.00      1.00       126

SVM Accuracy: 0.6746031746031746
SVM Classification Report:
               precision    recall  f1-score   support

           0       0.67      1.00      0.81        85
           1       0.00      0.00      0.00        41

    accuracy                           0.67       126
   macro avg       0.34      0.50      0.40       126
weighted avg       0.46      0.67      0.54       126

K-Nearest Neighbors Accuracy: 0.6349206349206349
K-Nearest Neighbors Classification Report:
               precision    recall  f1-score   support

           0       0.71      0.76      0.74        85
           1       0.43      0.37      0.39        41

    accuracy                           0.63       126
   macro avg       0.57      0.57      0.57       126
weighted avg       0.62      0.63      0.63       126

##**Evaluation**:
- **Perfect Scores**: The logistic regression model has achieved perfect precision, recall, and F1-scores for both classes. This suggests that the model is correctly classifying all instances in the dataset.
- **Support**: The model was tested on 85 instances of class 0 and 41 instances of class 1, providing a balanced evaluation across both classes.
- - **Class Imbalance**: The SVM model performs well for class 0 (precision, recall, and F1-score of 0.67, 1.00, and 0.81, respectively) but fails completely for class 1 (precision, recall, and F1-score of 0.00).
  - **Moderate Performance**: The KNN model shows moderate performance with precision, recall, and F1-scores being better for class 0 than for class 1.
- **Class 1 Underperformance**: Precision and recall for class 1 are 0.43 and 0.37, respectively, indicating the model struggles to correctly classify instances of class 1.